{% extends "base_templates/_base1.html" %}
{% block head_block %}
<meta name=”robots” content=”noindex,nofollow”>

<title>
درباره ی ما | مجموعه برنامه نویسی و طراحی سایت رایاافزار تبریز
</title>


{% endblock %}

{% block body_block %}

<div style="padding: 4.5%;">

  <h1 class="font-5 fYekan-bold gray-text-darken-3">
درباره ی ما
</h1>


  <div style="max-width:1800px; margin:auto;" class="border-radius-2 shadow-3 uk-card uk-card uk-card-body gray-gradiant gray-text-darken-3 font-4 fYekan">

    مجموعه ی رایاافزار در حوزه ی برنامه نویسی و طراحی وب چند سال است که فعالیت خود را شروع کرده. در همین زمان چندین وبسایت و برنامه را طراحی کرده که هیچ کدام از آنها از هیچ سیستم آماده ای استفاده نکرده است

<br>
رایاافزار در چندین حوزه ی اصلی متفاوت فعالیت می کند. دو مورد از خدماتی که بیشترین درخواست را از میان
مشتریان داشته ایم برنامه نویسی کامپیوتر و برنامه نویسی سمت وب بوده است.
<br><br>
    امروزه، طراحی سایت به یکی از موضوعات مهمی تبدیل شده است که تمامی کسب و کارهایی که
    می خواهند آینده درخشانی را برای خود رقم بزنند باید به آن توجه داشته باشند. در واقع، بسیاری از
    کارشناسان بر این عقیده هستند که دیگر روش های بازاریابی قدیمی پاسخگو نیستند و افراد باید به روش های نوین
    بازار یابی مانند طراحی سایت توجه داشته باشند. به همین دلیل جای تعجب نیست که شاهد
    درخواست بالایی برای سفارش طراحی سایت هستیم. ما در رایاافزار کنار هم جمع شده ایم تا با کیفیت ترین سایت های برنامه نویسی را
    برای شما ایجاد کرده تا شما را در مسیر تحول کسب و کارتان همراهی کنیم.
    <br>
    از اصول اصلی که در طراحی و برنامه نویسی سمت وب در مجموعه ی رایاافزار رعایت می شود ریسپانسیو بودن و بهینه بودن
    سایت ها برای سئو است تا سایت های طراحی شده در مجموعه ی ما بالاترین رتبه ها را در گوگل بدست آورد.
    همچنین زیبایی و کیفیت بالای سایت های طراحی شده از نمونه کار های این مجموعه واقع در تبریز مشخص است.
    <br>
<br>
برنامه نویسی دسکتاپ یا تحت ویندوز عبارت است از ساخت نرم افزارهای
ی که روی کامپیوترها یا لپ تاپ ها نصب و یا بدون نیاز به نصب اجرا می شوند. یکی از
قابلیت‌های مطرح در زبان‌های برنامه‌نویسی مشهور متن‌باز بودن یا Open Source
بودن آن است. اگر زبانی متن‌باز باشد، شما می‌توانید کدهای اصلی آن را به فراخور نیاز خود تغییر
 دهید و بستر مناسب برنامه‌نویسی را ایجاد کنید. ما در مجموعه ی رایاافزار با برنامه نویسی کردن
 پروژه ی مورد نظر شما در زبان های مختلف مانند C# یا پایتون به شما در مسیر رسیدن به هدف خود کمک می کنیم.
<br>
برنامه های طراحی شده در مجموعه ی ما از استاندارد های جهانی پیروی می کند و قابلیت بسط و گسترش داده شدن
داشته و همچنین برنامه ی نهایی پس از گذشتن از چندین مرحله تست و رفع عیب شدن به دست مشتریان می رسد.

</div>
</div>
{% endblock %}
