{% extends "base_templates/_base1.html" %}
{% block head_block %}
<meta name="robots" content="index, follow">

<title>
درباره ی ما | مجموعه برنامه نویسی و طراحی سایت رایاافزار تبریز
</title>


{% endblock %}

{% block body_block %}

<div style="padding: 4.5%;">

  <h1 style="margin:auto;margin-top:50px;max-width:1800px; " class="font-6 gold-text-darken-4 fYekan-bold">درباره ی گروه برنامه نویسی رایاافزار</h1>
  <br>


  <div style="max-width:1800px; margin:auto; margin-top:20px;" class="border-radius-2 shadow-3 uk-card uk-card uk-card-body gray-gradiant gray-text-darken-3 font-4 fYekan uk-text-justify">

    مجموعه ی طراحی وب و برنامه نویسی رایاافزار تبریز در حوزه ی برنامه نویسی دسکتاپ, وب و اپلیکیشن تلفن همراه چند سال است که فعالیت خود را در تبریز شروع کرده.
     در همین زمان چندین وبسایت و برنامه را نه تنها در تبریز بلکه برای سراسز ایران طراحی کرده که هیچ کدام از آنها از هیچ سیستم آماده ای استفاده نکرده است

    <br>
    رایاافزار در چندین حوزه ی اصلی متفاوت فعالیت می کند. سه مورد از خدماتی که بیشترین درخواست را از میان
    مشتریان داشته ایم برنامه نویسی کامپیوتر برنامه نویسی سمت وب و ایجاد اپلیکیشن های تلفن همراه بوده است.
    <br><br>
        امروزه، طراحی سایت به یکی از موضوعات مهمی تبدیل شده است که تمامی کسب و کارهایی که
        می خواهند آینده درخشانی را برای خود رقم بزنند باید به آن توجه داشته باشند. در واقع، بسیاری از
        کارشناسان بر این عقیده هستند که دیگر روش های بازاریابی قدیمی پاسخگو نیستند و افراد باید به روش های نوین
        بازار یابی مانند طراحی سایت توجه داشته باشند. به همین دلیل جای تعجب نیست که شاهد
        درخواست بالایی برای سفارش طراحی سایت هستیم. ما در رایاافزار کنار هم جمع شده ایم تا با کیفیت ترین سایت های برنامه نویسی را
        برای شما ایجاد کرده تا شما را در مسیر تحول کسب و کارتان همراهی کنیم.
        <br>
        از اصول اصلی که در طراحی و برنامه نویسی سمت وب در مجموعه ی رایاافزار رعایت می شود ریسپانسیو بودن و بهینه بودن
        سایت ها برای سئو است تا سایت های طراحی شده در مجموعه ی ما بالاترین رتبه ها را در گوگل بدست آورد.
        همچنین زیبایی و کیفیت بالای سایت های طراحی شده از نمونه کار های این مجموعه برنامه نویسی واقع در تبریز مشخص است.
        <br>
    <br>
    وجود کادر مجرب و کارآمد در گروه ما باعث شده است تا تیم رایاافزار دایره ی زبان  برنامه نویسی وسیعی داشته باشد. برخی از 
    زبان هایی که در مجموعه ی برنامه نویسی ما تا به حال استفاده شده است عبارت است از 
    Python, C#, C++, Javascript, ReactJs, React Native, ...
    <br>
    برنامه های طراحی شده در مجموعه ی ما از استاندارد های جهانی و اصول برنامه نویسی تمیز یا به اصطلاح کلین کد پیروی می کند و قابلیت بسط و گسترش داده شدن
    توسط برنامه نویسان دیگر را نیز داشته و همچنین وجود تیم کنترل کیفی در تیم برنامه نویسی رایافزار تبریز باعث شده است 
    تا محصول نهایی در مرحله ی تحویل دارای کمترین میزان عیب باشد..
 </div>
</div>
{% endblock %}
