{% extends "base_templates/_base1.html" %}
{% block head_block %}
<meta name=”robots” content=”noindex,nofollow”>

<title>
سوالات متداول | شرکت برنامه نویسی و طراحی سایت
</title>


{% endblock %}

{% block body_block %}

<div style="padding: 3%;">

  <h1 class="font-5 fYekan-bold gray-text-darken-3">
سوالات متداول
</h1>


  <div style="max-width:1800px; margin:auto;" class="border-radius-2 shadow-3 uk-card uk-card-body gray-lighten-3 fYekan">


    <div class="uk-card  uk-card-body  ">
      <ul uk-accordion="multiple: true">
        <li style="border-right:5px #c1993d solid; padding:10px;">
            <a style="padding:10px;" class="uk-accordion-title gold gray-text-darken-4 fYekan" href="#">آیا در رایاافزار از سیستم آماده ای مانند وردپرس استفاده می شود؟</a>
            <div class="uk-accordion-content gray-text-darken-4 fYekan">
                <p>
خیر, هیچ کدام از سایت های طراحی شده در این مجموعه از سیستم آماده ای استفاده نکرده و تمامی
سایت ها کد نویسی شده اند.
                </p>
            </div>
        </li>

        <li style="border-right:5px #c1993d solid; padding:10px;">
            <a style="padding:10px;" class="uk-accordion-title gold gray-text-darken-4 fYekan" href="#">آیا در رایاافزار تمامی هزینه ها اول پروژه پرداخت می شود؟</a>
            <div class="uk-accordion-content gray-text-darken-4 fYekan">
                <p>
به انتخاب کارفرما هزینه ی طراحی میتواند در دو یا نهایتا در سه مرحله پرداخت شود.
                </p>
            </div>
        </li>

        <li style="border-right:5px #c1993d solid; padding:10px;">
            <a style="padding:10px;" class="uk-accordion-title gold gray-text-darken-4 fYekan" href="#">طراحی سایت چقدر زمان لازم دارد</a>
            <div class="uk-accordion-content gray-text-darken-4 fYekan">
                <p>
بسته به نوع پروژه ی شما زمان طراحی ممکن است بین دو هفته تا چند ماه متغیر باشد, اما با توجه به اینکه رایاافزار از سیستم
آماده ای جهت طراحی استفاده نمی کند انتظار اتمام پروژه ی دو سه روزه را نداشته باشید!

                </p>
            </div>
        </li>

        <li style="border-right:5px #c1993d solid; padding:10px;">
            <a style="padding:10px;" class="uk-accordion-title gold gray-text-darken-4 fYekan" href="#">سرور مجازی یا هاست داخل ایران بهتر است یا خارج از کشور؟</a>
            <div class="uk-accordion-content gray-text-darken-4 fYekan">
                <p>
در صورتی که عمده کاربران سایت شما در ایران هستند، بهتر است سرور و هاست شما نیز در منطقه جغرافیایی نزدیک به خودتان یعنی در ایران
 باشد. اگر مشتریان شما عمدتاً در کشور دیگری هستند می‌توانید ه
 است همان کشور را تهیه نماید. این مورد در سرعت بارگذاری سایت برای کاربران اهمیت بسیاری دارد.
                </p>
            </div>
        </li>

        <li style="border-right:5px #c1993d solid; padding:10px;">
            <a style="padding:10px;" class="uk-accordion-title gold gray-text-darken-4 fYekan" href="#">آیا در رایاافزار از سیستم آماده ای مانند وردپرس استفاده می شود؟</a>
            <div class="uk-accordion-content gray-text-darken-4 fYekan">
                <p>
خیر, هیچ کدام از سایت های طراحی شده در این مجموعه از سیستم آماده ای استفاده نکرده و تمامی
سایت ها کد نویسی شده اند.
                </p>
            </div>
        </li>

        <li style="border-right:5px #c1993d solid; padding:10px;">
            <a style="padding:10px;" class="uk-accordion-title gold gray-text-darken-4 fYekan" href="#">آیا پس از اتمام پروژه ی برنامه یا سایت نیازی به مجموعه ی رایاافزار برای مدیریت خواهد بود؟</a>
            <div class="uk-accordion-content gray-text-darken-4 fYekan">
                <p>
                  خیر, با نظر داشتن اینکه رایاافزار همیشه آماده ی ارائه ی خدمات و پشتیبانی به مشتریان عزیز خود می باشد و
                  در صورت نیاز کاربر کمک خواهد کرد اما بعد از اتمام پروژه تمامی آموزش های لازم جهت مدیریت سایت داده می شود تا کاربر
                  به صورت مستقل بتواند سایت خود را مدیریت کند.
                </p>
            </div>
        </li>

        <li style="border-right:5px #c1993d solid; padding:10px;">
            <a style="padding:10px;" class="uk-accordion-title gold gray-text-darken-4 fYekan" href="#">آیا داشتن سایت بر کسب و کار من تاثیری خواهد داشت؟</a>
            <div class="uk-accordion-content gray-text-darken-4 fYekan">
                <p>

                  دسترسی 24 ساعته برای کاربر، دسته بندی محصولات و امکان جستجو پیشرفته، سبد خرید، اتصال به درگاه بانکی، طراحی اپلیکیشن در کنار سایت، دسترسی آسانتر برای ویرایش محصولات و امکانات سئو و ...
از دلایل مهمی است برای ایجاد یک وب سایت و تاثیر گذاری آن بر کسب و کار و میزان درآمد شما. تمام دلایل گفته شده به سبب استفاده آسان برای کاربر جذاب بوده و در نتیجه مشتریان و بازدید کنندگان از وب سایت شما افزایش میابد.

                </p>
            </div>
        </li>

        <li style="border-right:5px #c1993d solid; padding:10px;">
            <a style="padding:10px;" class="uk-accordion-title gold gray-text-darken-4 fYekan" href="#">آیا امکان توسعه ی سایت یا برنامه ی من بعد از اتمام پروژه وجود خواهد داشت؟</a>
            <div class="uk-accordion-content gray-text-darken-4 fYekan">
                <p>
همانطور که گفتیم وردپرس به راحتی قابلیت توسعه داشته و می توان امکانات جدیدی را به آن اضافه نمود. هزینه توسعه یک سایت به زمان انجام این کار، نوع سایت شما و امکاناتی که مد نظرتان است، دارد. شما می توانید برای کسب اطلاعات بیشتر در این باره، با مشاوران ما تماس بگیرید.
                </p>
            </div>
        </li>


      </ul>
    </div>


</div>
</div>
{% endblock %}
