{% extends "base_templates/_base1.html" %}
{% block head_block %}
<meta name=”robots” content=”noindex,nofollow”>

<title>
تعرفه ها | مجموعه برنامه نویسی و طراحی سایت رایاافزار تبریز
</title>


{% endblock %}

{% block body_block %}

<div style="padding: 4.5%;">

  <h1 class="font-5 fYekan-bold blue-text-darken-3">
تعرفه ها
</h1>


  <div style="max-width:1800px; margin:auto;" class="border-radius-2 shadow-3 uk-card uk-card uk-card-body gray-gradiant fYekan">


</div>
<br>
</div>
{% endblock %}
