{% extends "base_templates/_base1.html" %}
{% block head_block %}
<meta name="robots" content="index, follow">

<title>
خدمات ما | مجموعه برنامه نویسی و طراحی سایت رایاافزار تبریز
</title>


{% endblock %}

{% block body_block %}

<div style="padding: 4.5%;">

  <h1 class="font-5 fYekan-bold blue-text-darken-3">
برنامه نویسی کامپیوتر
</h1>


  <div style="max-width:1800px; margin:auto;" class="border-radius-2 shadow-3 uk-card uk-card uk-card-body gray-gradiant gray-text-darken-3 font-4 fYekan uk-text-justify">

    برنامه نویسی دسکتاپ یا تحت ویندوز عبارت است از ساخت
     نرم افزارهایی که روی کامپیوترها یا لپ تاپ ها نصب و یا بدون نیاز به نصب اجرا می شوند.

     یکی از قابلیت‌های مطرح در زبان‌های برنامه‌نویسی
     مشهور متن‌باز بودن یا Open Source بودن آن است. اگر
      زبانی متن‌باز باشد، شما می‌توانید کدهای اصلی آن را به فراخور نیاز خود تغییر دهید و بستر
       مناسب برنامه‌نویسی را ایجاد کنید.

ما در مجموعه ی رایاافزار با برنامه نویسی کردن پروژه ی مورد نظر شما در زبان های مختلف مانند C# یا پایتون
به شما در مسیر رسیدن به هدف خود کمک می کنیم.
<br>
در مجموعه ی ما از دو زبان اصلی برای برنامه نویسی در دسکتاپ استفاده می شود.

<h3 class="gold-text-darken-2 font-4 fYekan-bold">برنامه نویسی پایتون برای دسکتاب</h3>
یکی از مشهورترین زبان‌های برنامه‌نویسی زبان پایتون است که
امروزه توجه زیادی را به خود جلب کرده است. این زبان برنامه‌نویسی
 ساده بوده و سطح بالا است. سطح بالا بودن زبان برنامه‌نویسی به این معنا است که از زبان ماشین دور بوده و به
  زبان انسان نزدیک‌تر است. باتوجه‌به این موضوع، کارکردن با این زبان بسیار راحت‌تر از زبان‌های نزدیک به
   زبان ماشین است. زبان‌هایی که سطح پایین هستند به زبان ماشین نزدیک‌تر بوده و سرعت اجرای آن‌ها به‌مراتب بالاتر است.

این زبان شیءگرا بوده و در پلتفرم‌های مختلفی قابلیت اجرا دارد. زبان برنامه‌نویسی پایتون زبانی محبوب
برای برنامه‌نویسی وب نیز است و در کارهای تحلیل داده، هوش مصنوعی، شبکه عصبی و یادگیری ماشین کاربرد
فراوانی دارند. برای برنامه‌نویسی, پایتون یک گزینه بسیار مناسب است.


<h3 class="gold-text-darken-2 font-4 fYekan-bold">برنامه نویسی سی شارپ برای دسکتاب</h3>

این زبان چندمنظوره بوده و پارادایم‌های مختلف برنامه‌نویسی را پشتیبانی می‌کند. برنامه‌نویسی به روش شیءگرایی شیوه نویی برای برنامه‌نویسی نسبت به روش رویه‌ای است. این زبان برنامه‌نویسی همانند دیگر زبان‌های مطرح و محبوب از این پارادایم نیز پیروی می‌کند.

زبان برنامه‌نویسی سی شارپ نه‌تنها در برنامه‌نویسی دسکتاپ، بلکه در برنامه‌نویسی وب و موبایل نیز کاربرد دارد. به کمک آن نیز می‌توان برای سیستم‌عامل اندروید موبایل‌ها برنامه نوشت و بازی‌های مختلفی را تولید کرد. این زبان توسط شرکت مایکروسافت ساخته شده و با پلتفرم دات نت یا .NET در تعامل است. این بستر به زبان سی شارپ کمک می‌کند که قدرت بیشتری برای عملکرد داشته باشد و نیازهای مختلفی از کاربران را برطرف سازد.

    <br>
    <br>
    مجموعه ی رایاافزار در حوزه ی برنامه نویسی دسکتاب چندین سال است که فعالیت خود را شروع کرده و در طی این چند سال چندین پروژه ی
    موفق و بزرگی انجام داده است.

<br>

<h3 class="gold-text-darken-2 font-4 fYekan-bold">مواردی که در تیم رایاافزار برای برنامه نویسی کامپیوتر رعایت می شوند</h3>
<div class="uk-text-justify fYekan gray-text-lighten-4 font-4 uk-grid-match uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center" uk-grid>
   <div>
       <div style="padding:25px;" class="uk-text-justify uk-card uk-card-default uk-card-body gold shadow-3 border-radius-2">
         <ul class="uk-list  gray-text-lighten-4"><span style="background: #ffffff; padding:20px; border-radius: 50%;" class="animation-slow uk-margin-small-right gold-text" uk-icon="icon:code;ratio:2" uk-scrollspy="cls: uk-animation-scale-up;"></span><br><br>
           <li class="font-5 white-text fYekan-bold">قابلیت گسترش داده شدن</li>

           <li >
برنامه های طراحی شده در مجموعه ی رایاافزار در استایل و استاندارد های جهانی کد نویسی می شود و از شعار معروف
"کد نویسی برای انسان ها و نه برای کامپیوتر ها"
پیروی می کند. وجود این اصل در دستور کار رایاافزار باعث می شود تا در صورت صلاحدید مشتری
شرکت های دیگر نیز بتوانند نرم افزار را گسترش دهند.
           </li>



         </ul>
       </div>
    </div>
   <div>
       <div style="padding:25px;"  class="uk-text-justify uk-card uk-card-default uk-card-body gold border-radius-2 shadow-3">

           <ul class="uk-list  "><span style="background: #ffffff; padding:20px; border-radius: 50%;" class="uk-margin-small-right gold-text animation-slow" uk-icon="icon:file-edit;ratio:2" uk-scrollspy="cls: uk-animation-scale-up;"></span><br><br>
             <li class="font-5 fYekan-bold white-text">تست برنامه و بدون نقص بودن آن</li>
           <li class="gray-text-lighten-4">برنامه های ایجاد شده در مجموعه ی رایاافزار قبل از نهایی شدن و تحویل به مشتری ها در چندین مراحل مختلف
           تست و رفع عیب می شود. علاوه بر اینکه در کد نویسی این برنامه ها از کلاس های مختلف تست استفاده می شود, وجود تیم تست نیز
         که مسئول ایراد یابی نرم افزار ها می باشد باعث تولید برنامه های بدون نقص می شود.</li>


           </ul>
       </div>
   </div>
   <div>
       <div style="padding:25px;"  class="uk-text-justify uk-card uk-card-default uk-card-body gold border-radius-2 shadow-3">
         <ul  class="uk-list"><span style="background: #ffffff; padding:20px; border-radius: 50%;" class="uk-margin-small-right gold-text animation-slow" uk-icon="icon:star;ratio:2" uk-scrollspy="cls: uk-animation-scale-up;"></span><br><br>
           <li class="font-5 fYekan-bold white-text">
            رابط کاربری زیبا و کارآمد</li>

           <li class="gray-text-lighten-4"> رابط کاربری و به اصطلاح UI که مخفف شده ی عبارت User Interface می باشد در برنامه های طراحی شده در مجموعه ی
            رایاافزار دارای ظاهری زیبا و کارآمد می باشد و تمامی اصول UI و UX در آن ها رعایت می شود که باعث تولید برنامه هایی در سطح جهانی می شود.</li>

         </ul>

       </div>
   </div>
</div>



<h3 class="gold-text-darken-2 font-5 fYekan-bold">هزینه ی طراحی نرم افزار شما چقدر خواهد بود</h3>
بسته به سلیقه و نوع سفارش شما هزینه ی طراحی برنامه ی مورد نظر شما می تواند متغیر باشد.
تیم رایا افزار معتقد است که برنامه ینا به قابلیت های خود هزینه ی طراحی متفاوتی خواهد داشت. برای اطلاع از هزینه ی
برنامه نویسی پروژه ی مورد نظر خود آن را در صفحه ی ثبت پروژه سفارش دهید تا مدیران ما با شما برای نهایی کردن تماس بگیرند.
<br>


<h3 class="gold-text-darken-2 font-5 fYekan-bold">آماده ی سفارش پروژه و اعتماد به مجموعه ی ما هستید؟</h3>
اگر آماده ی ایجاد تغییری بزرگ در سود و رشد کسب و کارتان هستید و تیم طراحی و برنامه نویسی رایاافزار را به عنوان
طراح برنامه ی خود انتخاب کرده اید پروژه ی خود را سفارش دهید تا در اسرع وقت مدیران رایاافزار با
شما تماس بگیرند.
<br><br>
<a style="padding:8px 40px 8px 40px;" class="uk-button-large uk-button gold uk-align-right gray-text-lighten-4 shadow-1 border-radius-2 fYekan-bold font-4 hover-effect " href="{% url 'order:order_create' %}"> سفارش پروژه </a>




</div>
<br>
</div>
{% endblock %}
