{% extends "base_templates/_base1.html" %}
{% block head_block %}
<meta name=”robots” content=”noindex,nofollow”>

<title>
خدمات ما | مجموعه برنامه نویسی و طراحی سایت رایاافزار تبریز
</title>


{% endblock %}

{% block body_block %}

<div style="padding: 4.5%;">

  <h1 class="font-5 fYekan-bold gray-text-darken-4">
برنامه نویسی و طراحی وب
</h1>


  <div style="max-width:1800px; margin:auto;" class="border-radius-2 shadow-3 uk-card uk-card uk-card-body gray-gradiant gray-text-darken-3 font-4 fYekan uk-text-justify">
امروزه وب سایت به یکی از ملزومات هر کسب و کاری تبدیل شده است. هر گونه کسب و کاری چه کوچک و چه بزرگ, چه مغازه ای در یک محله باشد
یا کارخانه ای در شهرک های صنعتی, برای رشد و افزایش فروش و دیده شدن به یک وب سایت نیاز دارند اما نه هر وب سایتی.
همان گونه که پوشش هر فرد هر چه شیک تر باشد نشانگر شخصیت بالای فرد است داشتن سایت معتبر, شیک و بدون نقص نیز نشانگر
اعتبار بالای کسب و کار است.
ما در تیم رایا افزار که یک مجموعه ی برنامه نویسی و طراحی وب در تبریز می باشد کنار هم جمع شده ایم تا به شما, کسب و کار شما و
تمامی نیاز های کامپیوتری شما پاسخی در سطح بهترین های جهان دهیم.
<br>
<h2 class="gold-text-darken-2 font-5 fYekan-bold">مواردی که در تیم رایاافزار برای طراحی وب انجام می شوند</h2>


<div class="uk-text-justify fYekan gray-text-lighten-4 font-4 uk-grid-match uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center" uk-grid>
   <div>
       <div style="padding:25px;" class="uk-text-justify uk-card uk-card-default uk-card-body gold shadow-3 border-radius-2">
         <ul class="uk-list  gray-text-lighten-4"><span style="background: #ffffff; padding:20px; border-radius: 50%;" class="animation-slow uk-margin-small-right gold-text" uk-icon="icon:star;ratio:2" uk-scrollspy="cls: uk-animation-scale-up;"></span><br><br>
           <li class="font-5 white-text fYekan-bold">زیبایی</li>

           <li >یک وب سایت جذاب، تاثیری فوق‌العاده‌ بر روی مخاطب شما خواهد گذاشت. وب سایت های طراحی شده در رایاافزار, تیم برنامه نویسی و
           طراحی وب در تبریز, با ترکیب متد های روز دنیا با سلیقه ی خاص شما, تجربه ی بی نظیری را برای بازدید کننده ی وب سایت شما فراهم میکند.</li>



         </ul>
       </div>
    </div>
   <div>
       <div style="padding:25px;"  class="uk-text-justify uk-card uk-card-default uk-card-body gold border-radius-2 shadow-3">

           <ul class="uk-list  "><span style="background: #ffffff; padding:20px; border-radius: 50%;" class="uk-margin-small-right gold-text animation-slow" uk-icon="icon:phone;ratio:2" uk-scrollspy="cls: uk-animation-scale-up;"></span><br><br>
             <li class="font-5 fYekan-bold white-text">ریسپانسیو بودن</li>
           <li class="gray-text-lighten-4">وب سایت شما خودش را با اندازه صفحه تطبیق خواهد داد. این یعنی کاربر با هر دستگاهی به آن سر بزند، باز هم وب سایت شما درست نمایش داده می‌شود.
           مخاطب شما میتواند چه با لپتاب از سایت شما دیدن کند و چه از تلفن هوشمند خود برای بازدید از صفحه شما اقدام کند, وبسایت شما
         آماده ی ارائه ی بهترین تجربه برای کاربر می باشد.</li>


           </ul>
       </div>
   </div>
   <div>
       <div style="padding:25px;"  class="uk-text-justify uk-card uk-card-default uk-card-body gold border-radius-2 shadow-3">
         <ul  class="uk-list"><span style="background: #ffffff; padding:20px; border-radius: 50%;" class="uk-margin-small-right gold-text animation-slow" uk-icon="icon:world;ratio:2" uk-scrollspy="cls: uk-animation-scale-up;"></span><br><br>
           <li class="font-5 fYekan-bold white-text">
            متناسب با سئو</li>

           <li class="gray-text-lighten-4"> تمام استانداردهای سئو (بهینه سازی برای موتورهای جستجو) در وب سایت شما رعایت شده است و به راحتی می‌تواند رتبه های بالای گوگل را کسب کند. و
           در صفحات اول گوگل در دید عموم و مرکز توجه مخاطبین شما قرار بگیرد</li>

         </ul>

       </div>
   </div>
</div>


<h2 class="gold-text-darken-2 font-5 fYekan-bold">طراحی وب در رایاافزار تبریز</h2>
<b>امنیت قوی</b>
تمامی نکات امنیتی در وب سایت شما رعایت می‌شود.
<br>
<b>سرعت بالا</b>
وب‌سایت شما ظرف چند ثانیه برای مخاطب لود خواهد شد.
<br>
<b>رعایت استاندارد ها</b>
ما تمام استانداردهای روز طراحی سایت را در وب سایت شما رعایت خواهیم کرد.

<br>
<b>طراحی زیبا</b>
طراحان ما وب سایتی منحصر به فرد و جذاب برای شما خلق خواهند کرد.
<br>
<b>مدیریت آسان</b>
شما به آسانی توانایی مدیریت وب سایت خود را خواهید داشت
<br>
<b>پشتیبانی بی نقص</b>
تیم رایاافزار در تمامی حالات به سوال ها و مشکلات احتمالی پیش آمده پاسخ خواهد داد.
<br>
<br>

<h2 class="gold-text-darken-2 font-5 fYekan-bold">هزینه ی طراحی شما چقدر خواهد بود</h2>
بسته به سلیقه و نوع سفارش شما هزینه ی طراحی سایت میتواند متغیر باشد.
تیم رایا افزار معتقد است که هر وب سایت باید قابلیت های پایه ای یک وب سایت را داشته باشد. اما
برای داشتن امکانات اضافی تر هزینه ی طراحی نیز بیشتر خواهد بود.
<br>
<br>

<br><br>
<h2 class="gold-text-darken-2 font-5 fYekan-bold">آماده ی ایجاد تحول در کسب و کارتان هستید؟</h2>
اگر آماده ی ایجاد تغییری بزرگ در سود و رشد کسب و کارتان هستید و تیم طراحی و برنامه نویسی رایاافزار را به عنوان
طراحی وب سایت خود انتخاب کرده اید پروژه ی خود را سفارش دهید تا در اسرع وقت مدیران رایاافزار با
شما تماس بگیرند.
<br><br>
<a style="padding:8px 40px 8px 40px;" class="uk-button-large uk-button gold uk-align-right gray-text-lighten-4 shadow-1 border-radius-2 fYekan-bold font-4 hover-effect " href="{% url 'order:order_create' %}"> سفارش پروژه </a>



</div>
<br>
</div>
{% endblock %}
