{% extends "base_templates/_basedocslider.html" %}
{% block head_block %}
<meta name=”robots” content=”noindex,nofollow”>

<title>
خانه | مجموعه برنامه نویسی و طراحی سایت رایاافزار تبریز
</title>


{% endblock %}

{% block body_block %}


<section>
  <div class="inner">

    <div class="uk-inline uk-hidden@m">
        <img loading="lazy" decoding="async" style="background-size: cover;background-image:URL(data:image/svg+xml;base64,[svgtext]);" src="/media/statics/homepage/portrait4.webp"  >
    </div>
    <div class="uk-inline uk-visible@m">
        <img loading="lazy" decoding="async" style="background-size: cover;background-image:URL(data:image/svg+xml;base64,[svgtext]);"  src="/media/statics/homepage/landscape3.webp" >

    </div>


</div>
</section>


<div >

<!-- Our Services -->



<div  style="padding:4%; max-width:1300px" class="uk-align-center">
     <h1 style="margin-top:100px;" class="font-7 white-text fYekan-bold">خدمات مجموعه ی رایاافزار</h1>
     <br>
  <div  data-color="violet" class="fYekan gray-text-lighten-4 font-4 uk-grid-match uk-child-width-1-1 uk-text-center" uk-grid>

<div class="uk-visible@s" >
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin glass-effect shadow-3" uk-grid >
      <div class="uk-card-media-left uk-cover-container uk-width-1-3">
          <img height="400" src="media/statics/homepage/web.png" alt="" uk-cover>
          <canvas height="300"></canvas>
      </div>
      <div class=" uk-width-2-3">
          <div class="uk-card-body uk-text-justify">
              <h3 class=" font-5 white-text fYekan-bold">برنامه نویسی و طراحی وب</h3>
              <p class="gray-text-lighten-4 uk-flex-middle">مجموعه ی رایاافزار با دارا بودن برنامه نویسان مجرب توانایی برنامه نویسی وب در زبان های
              مختلف بر اساس نیاز های شما مشتریان عزیز اعم از پایتون, پی اچ پی و ... را داراست. لازم به ذکر است مجموعه ی رایاافزار از سیستم
              آماده ای همانند وردپرس برای ساخت سایت استفاده نمی کند و تمامی سایت های طراحی شده کد نویسی می باشند.
<br>
<a style="color:#c9c9c9;font-family: 'Yekan';font-weight: bold;" class="" href="{% url 'order:order_create' %}">سفارش پروژه ...></a>
            </p>
          </div>
      </div>
  </div>
</div>

<div class="uk-visible@s">
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin glass-effect shadow-3" uk-grid>
      <div class="uk-flex-last@s uk-card-media-right uk-cover-container uk-width-1-3">
          <img height="400"  src="media/statics/homepage/programming.png" alt="" uk-cover>
          <canvas height="300"></canvas>
      </div>
      <div class=" uk-width-2-3">
          <div class="uk-card-body uk-text-justify">
              <h3 class=" font-5 white-text fYekan-bold">طراحی نرم افزار</h3>
              <p class="gray-text-lighten-4">
                برنامه نویسی کامپیوتر و طراحی نرم افزار یکی دیگر از خدمات ارائه شده
                توسط تیم ما می باشد. با استفاده از فریمورک های قدرتمندی مانند Qt مجموعه ی
                 رایا افزار توانایی تولید نرم افزار های بدون نقص با ظاهر زیبا و کارآمد و قابلیت گسترش داده شدن را دارد
              <br>
              <a style="color:#c9c9c9;font-family: 'Yekan';font-weight: bold;" class="" href="{% url 'order:order_create' %}">سفارش پروژه ...></a>
              </p>
          </div>
      </div>
  </div>
</div>

<div class="uk-visible@s">
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin glass-effect shadow-3" uk-grid>
      <div class="uk-card-media-left uk-cover-container uk-width-1-3">
          <img height="400"  src="media/statics/homepage/develope.png" alt="" uk-cover>
          <canvas height="300"></canvas>
      </div>
      <div class=" uk-width-2-3">
          <div class="uk-card-body uk-text-justify">
              <h3 class=" font-5 white-text fYekan-bold">دیگر خدمات</h3>
              <p class="gray-text-lighten-4">طراحی افزونه ها, برنامه های کوچک اجرا شده در ترمینال و سایر موارد از مواردی است که توسط تیم رایاافزار
              پشتیبانی می شود. همچنین مجموعه ی ما در تولید نرم افزار های گرافیکی با استفاده از فریمورک هایی مانند OpenGL پیشتاز است.
            <br>
<a style="color:#c9c9c9;font-family: 'Yekan';font-weight: bold;" class="" href="{% url 'order:order_create' %}">سفارش پروژه ...></a>
          </p>
          </div>
      </div>
  </div>
</div>

<div class="uk-hidden@s">
    <div class="uk-card uk-card-default glass-effect shadow-3">
        <div style="padding:7%;" class="uk-card-media-top">
            <img height="400"  src="media/statics/homepage/web.png" alt="" >
        </div>

        <div class="uk-card-body uk-text-justify">
            <h3 class=" font-5 white-text fYekan-bold uk-text-center">برنامه نویسی و طراحی وب</h3>
            <p class="gray-text-lighten-4 uk-flex-middle">مجموعه ی رایاافزار با دارا بودن برنامه نویسان مجرب توانایی برنامه نویسی وب در زبان های
            مختلف بر اساس نیاز های شما مشتریان عزیز اعم از پایتون, پی اچ پی و ... را داراست.
<br>
<a style="color:#c9c9c9;font-family: 'Yekan';font-weight: bold;" class="" href="{% url 'order:order_create' %}">سفارش پروژه ...></a>
          </p>
        </div>
    </div>
</div>


<div class="uk-hidden@s" >
    <div class="uk-card uk-card-default glass-effect shadow-3">
        <div style="padding:7%;" class="uk-card-media-top">
            <img height="400"  src="media/statics/homepage/programming.png" alt="" >
        </div>

        <div class="uk-card-body uk-text-justify">
            <h3 class=" font-5 white-text fYekan-bold uk-text-center">طراحی نرم افزار</h3>
            <p class="gray-text-lighten-4">
              برنامه نویسی کامپیوتر و طراحی نرم افزار یکی دیگر از خدمات ارائه شده توسط تیم ما می باشد. با استفاده از فریمورک های قدرتمندی مانند Qt مجموعه ی رایا افزار توانایی تولید نرم افزار های بدون نقصی را دارد.
            <br>
            <a style="color:#c9c9c9;font-family: 'Yekan';font-weight: bold;" class="" href="{% url 'order:order_create' %}">سفارش پروژه ...></a>
            </p>
        </div>
    </div>
</div>


<div class="uk-hidden@s" >
    <div class="uk-card uk-card-default glass-effect shadow-3">
        <div style="padding:7%;" class="uk-card-media-top">
            <img height="400"  src="media/statics/homepage/develope.png" alt="" >
        </div>

        <div class="uk-card-body uk-text-justify">
            <h3 class=" font-5 white-text fYekan-bold uk-text-center">دیگر خدمات</h3>
            <p class="gray-text-lighten-4">طراحی افزونه ها, برنامه های کوچک اجرا شده در ترمینال و سایر موارد از مواردی است که توسط تیم رایاافزار
            پشتیبانی می شود. همچنین مجموعه ی ما در تولید نرم افزار های گرافیکی با استفاده از فریمورک هایی مانند OpenGL پیشتاز است.
          <br>
<a style="color:#c9c9c9;font-family: 'Yekan';font-weight: bold;" class="" href="{% url 'order:order_create' %}">سفارش پروژه ...></a>
        </p>
        </div>
    </div>
</div>

 </div>



<!-- Why Us? -->

<h1 style="margin-top:130px" class="font-7 gray-text-lighten-4 fYekan-bold">چرا مجموعه ی رایاافزار</h1>
<div data-color="green" style="margin-top:40px;" class="uk-grid-match uk-child-width-1-1 uk-child-width-1-1@s uk-child-width-1-2@m uk-text-center " uk-grid>
<div class="">

  <div class="border-radius-2 shadow-3 uk-card uk-card uk-card-body gray-lighten-4 fYekan gray-text-darken-4 " uk-scrollspy="cls: uk-animation-slide-right-medium; repeat: true; delay:550;">
<h3 class="gray-text-darken-4 fYekan-bold">کیفیت طراحی بالا</h3>
  <p class="uk-text-right">برنامه ها و سایت های طراحی شده توسط ما با دقت و حوصله بالا انجام می شوند. وجود واحد تست در مجموعه ی ما باعث شده است
  برنامه های ما بدون هیچ عیب و نقصی باشند.</p>
  </div>

</div>
<div class="">

  <div class="border-radius-2 shadow-3 uk-card uk-card uk-card-body gray-darken-4 fYekan gray-text-lighten-4 " uk-scrollspy="cls: uk-animation-slide-left-medium; repeat: true; delay:550;">
<h3 class="gray-text-lighten-4 fYekan-bold">قیمت مناسب</h3>
  <p class="uk-text-right">با انتخاب مجموعه ی رایاافزار برای طراحی نرم افزار و طراحی سایت مورد نظر خود در هزینه های خود صرفه جویی کنید.
  با مقایسه ی تعرفه های مجموعه ی ما با سایر مجموعه ها به راحتی این نتیجه حاصل می شود که تیم رایا افزار بهترین انتخاب برای
تبدیل ایده های خود به واقعیت می باشد.</p>
  </div>

</div>

<div class="">

  <div class="border-radius-2 shadow-3 uk-card uk-card uk-card-body gray-darken-4 fYekan gray-text-lighten-4 " uk-scrollspy="cls: uk-animation-slide-right-medium; repeat: true; delay:550;">
<h3 class="gray-text-lighten-4 fYekan-bold">رعایت زمان بندی</h3>
  <p class="uk-text-right">مجموعه ی رایا افزار متعهد به رعایت زمان بندی ذکر شده حین عقد قرارداد می باشد و در تلاش است تا در همه ی
  حالات کارفرمایان محترم را از خدمات خود راضی نگه دارد.</p>
  </div>

</div>

<div class="">

  <div  class="border-radius-2 shadow-3 uk-card uk-card uk-card-body gray-lighten-4 fYekan gray-text-darken-4" uk-scrollspy="cls: uk-animation-slide-left-medium; repeat: true; delay:550;">
<h3 class="gray-text-darken-4 fYekan-bold">پشتیبانی فعال</h3>
  <p class="uk-text-right">تیم رایاافزار نه تنها تا زمان اتمام پروژه ی شما موظف به پشتیبانی و پاسخ دادن به مشتریان محترم می باشد, بلکه بعد از
  اتمام پروژه نیز پاسخگوی مشکلات احتمالی پیش آمده می باشد.</p>
  </div>

</div>

</div>

<h1 style="margin-top:110px" class="font-7 white-text fYekan-bold">نظرات برخی مشتریان</h1>
<div style="margin-top:40px; padding-right:6%; padding-left:6%;" class="">


  <div uk-slideshow="animation: scale;autoplay: true">

      <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="center: true;tabindex:-1;">

          <ul class="uk-slideshow-items" uk-height-viewport=" offset-bottom: 59" >
              <li>
                <div class="uk-cover-container">
                  <div class="border-radius-2 shadow-3 uk-card uk-card gray-lighten-4 fYekan gray-text-darken-4">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="/media/statics/homepage/soolenavvah.webp" alt="Avatar">
                            </div>
                            <div class="uk-width-expand">
                                <h3 style="color: #261E0C;" class="uk-card-title uk-margin-remove-bottom gold-text-darken-1 fYekan-bold font-4">مهندس نواح</h3>
                                <p style="color: #292929;" class="uk-text-meta uk-margin-remove-top gray-text-darken-3 fYekan">کارفرمای پروژه ی سوله نواح</p>
                            </div>
                        </div>
                    </div>
                    <div style="padding:5%" class="uk-text-justify">
                        <p>بدون شک مجموعه ی رایاافزار یکی از بهترین ها در توسعه و طراحی وب می باشد.
                        وجود برنامه نویسان مجرب و کاربلد و داشتن اخلاق حرفه ای از ویژگی های بارز این مجموعه می باشد. </p>
                    </div>
                </div>
                </div>
              </li>
              <li>
                <div class="uk-cover-container">
                  <div class="border-radius-2 shadow-3 uk-card uk-card gray-lighten-4 fYekan gray-text-darken-4">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="/media/statics/homepage/sholehkhiz.webp" alt="Avatar">
                            </div>
                            <div class="uk-width-expand">
                                <h3 style="color: #261E0C;" class="uk-card-title uk-margin-remove-bottom gold-text-darken-1 fYekan-bold font-4">مهندس حاتمی</h3>
                                <p style="color: #292929;" class="uk-text-meta uk-margin-remove-top gray-text-darken-3 fYekan">کارفرمای پروژه ی شعله خیز</p>
                            </div>
                        </div>
                    </div>
                    <div style="padding:5%" class="uk-text-justify">
                        <p>من پس از آزمودن چند شرکت طراحی وب با رایاافزار آشنا شدم و به این نتیجه رسیدم که تمامی هزینه های قبل
                        از رایاافزار اضافی بودند.</p>
                    </div>
                </div>
                </div>
              </li>
              <li>
                <div class="uk-cover-container">
                  <div class="border-radius-2 shadow-3 uk-card gray-lighten-4 fYekan gray-text-darken-4">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="/media/statics/homepage/shafayar.webp" alt="Avatar">
                            </div>
                            <div class="uk-width-expand">
                                <h3 style="color: #261E0C;" class=" uk-margin-remove-bottom gold-text-darken-1 fYekan-bold font-4">دکتر گلی</h3>
                                <p style="color: #292929;" class=" uk-margin-remove-top gray-text-darken-3 fYekan">کارفرمای پروژه ی شفایار</p>
                            </div>
                        </div>
                    </div>
                    <div style="padding:5%" class="uk-text-justify">
                        <p>مجموعه ی رایاافزار باعث به وجود آمدن یک تجربه ی حرفه ای در کسب و  کار من شد.
                        بعد از دیدن طرح اولیه ی پروژه ی سفارشی به اختلاف نظر بر خوردیم و این مجموعه بدون هیچ هزینه ی اضافی
                      فرانت پروژه را از اول طراحی کرد.</p>
                    </div>
                </div>
                </div>
              </li>
          </ul>

          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

      </div>

      <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

  </div>



</div>

</div>

</div>

<section  class="gray-darken-4 waving" >
  <div class="inner ">

    <div style="padding:8%" class="uk-inline uk-hidden@m uk-position-center">
        <img loading="lazy" decoding="async" style="background-size: cover;background-image:URL(data:image/svg+xml;base64,[svgtext]);margin-top:100px; " src="/media/statics/homepage/FinalPortrait.png"  >
    </div>
    <div style="padding:13%" class="uk-inline uk-visible@m uk-position-center">
        <img loading="lazy" decoding="async" style="background-size: cover;background-image:URL(data:image/svg+xml;base64,[svgtext]); margin-top:110px;"  src="/media/statics/homepage/FinalLandscape.png" >

    </div>
</div>
</section>


<div class="dark-gray-gradiant">

<!-- Our Services -->



<div  style="padding:4%; max-width:1200px" class="uk-align-center">
     <h1 style="margin-top:100px;" class="font-7 gold-text fYekan-bold">درباره ی ما</h1>
     <br>
     <div style=" margin:auto;" class="font-4 gray-text-darken-4 border-radius-2 shadow-3 uk-card uk-card uk-card-body gold fYekan uk-text-justify">
       مجموعه ی رایاافزار در حوزه ی برنامه نویسی و طراحی وب چند سال است که فعالیت خود را شروع کرده. در همین زمان چندین وبسایت و برنامه را طراحی کرده که هیچ کدام از آنها از هیچ سیستم آماده ای استفاده نکرده است

   <br>
   رایاافزار در چندین حوزه ی اصلی متفاوت فعالیت می کند. دو مورد از خدماتی که بیشترین درخواست را از میان
   مشتریان داشته ایم برنامه نویسی کامپیوتر و برنامه نویسی سمت وب بوده است.
   <br><br>
       امروزه، طراحی سایت به یکی از موضوعات مهمی تبدیل شده است که تمامی کسب و کارهایی که
       می خواهند آینده درخشانی را برای خود رقم بزنند باید به آن توجه داشته باشند. در واقع، بسیاری از
       کارشناسان بر این عقیده هستند که دیگر روش های بازاریابی قدیمی پاسخگو نیستند و افراد باید به روش های نوین
       بازار یابی مانند طراحی سایت توجه داشته باشند. به همین دلیل جای تعجب نیست که شاهد
       درخواست بالایی برای سفارش طراحی سایت هستیم. ما در رایاافزار کنار هم جمع شده ایم تا با کیفیت ترین سایت های برنامه نویسی را
       برای شما ایجاد کرده تا شما را در مسیر تحول کسب و کارتان همراهی کنیم.
       <br>
       از اصول اصلی که در طراحی و برنامه نویسی سمت وب در مجموعه ی رایاافزار رعایت می شود ریسپانسیو بودن و بهینه بودن
       سایت ها برای سئو است تا سایت های طراحی شده در مجموعه ی ما بالاترین رتبه ها را در گوگل بدست آورد.
       همچنین زیبایی و کیفیت بالای سایت های طراحی شده از نمونه کار های این مجموعه واقع در تبریز مشخص است.
       <br>
   <br>
   برنامه نویسی دسکتاپ یا تحت ویندوز عبارت است از ساخت نرم افزارهای
   ی که روی کامپیوترها یا لپ تاپ ها نصب و یا بدون نیاز به نصب اجرا می شوند. یکی از
   قابلیت‌های مطرح در زبان‌های برنامه‌نویسی مشهور متن‌باز بودن یا Open Source
   بودن آن است. اگر زبانی متن‌باز باشد، شما می‌توانید کدهای اصلی آن را به فراخور نیاز خود تغییر
    دهید و بستر مناسب برنامه‌نویسی را ایجاد کنید. ما در مجموعه ی رایاافزار با برنامه نویسی کردن
    پروژه ی مورد نظر شما در زبان های مختلف مانند C# یا پایتون به شما در مسیر رسیدن به هدف خود کمک می کنیم.
   <br>
   برنامه های طراحی شده در مجموعه ی ما از استاندارد های جهانی پیروی می کند و قابلیت بسط و گسترش داده شدن
   داشته و همچنین برنامه ی نهایی پس از گذشتن از چندین مرحله تست و رفع عیب شدن به دست مشتریان می رسد.

   </div>
</div>






{% endblock %}
{% block script_block %}
<script type="text/javascript">

$(function(){
setInterval(oneSecondFunction, 200);
});

function oneSecondFunction() {
  myDivObj = document.getElementById("myDivID")
  let myDivObjBgColor = window.getComputedStyle(myDivObj).backgroundColor;

  if (String(myDivObjBgColor) == 'rgba(25, 0, 0, 0.01)') {


    document.body.style.backgroundColor = "#000000";
    // Remove all classes on body with color-

}
else {
  document.body.style.backgroundColor = "#c1993d";
}


}


</script>
{% endblock %}
