{% extends "base_templates/_base1.html" %}
{% block head_block %}

<meta name="robots" content="noindex, nofollow">

<title>
موفقیت آمیز! | مجموعه برنامه نویسی و طراحی سایت رایاافزار تبریز
</title>
{% endblock %}

{% block body_block %}



<div style="padding: 4.5%;">
  <div style="max-width:1300px; margin:auto;" class="shadow-3 uk-card uk-card uk-card-body gray-gradiant fYekan border-radius-2">
    <h1 class="font-5 fYekan-bold red-text-darken-4 uk-text-center gold-hero-pattern">
<span style="background: #f2f2f2; padding:20px; border-radius: 50%;" class="shadow-3 uk-margin-small-right green-text" uk-icon="icon:check;ratio:7"></span>
    </h1>
    <p class="font-5 green-text-darken-3 fYekan-bold uk-align-center uk-text-center">پروژه شما با موفقیت ثبت شد</p>
<p style="max-width:900px" class="font-4 gray-text-darken-4 fYekan uk-align-center uk-text-right">


با تشکر از اینکه مجموعه ی ما را برای پیشرفت خود انتخاب کردید. مدیران ما در اسرع وقت پیام شما را چک کرده و در صورت نیاز با شما تماس خواهند گرفت.
<br>
مجموعه ی برنامه نویسی و طراحی سایت رایاافزار
<br>
<a style="gray-text-darken-4" href="{% url 'home' %}">برگشت به خانه</a>
</p>

  </div>
  <br>
</div>
{% endblock %}
