<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="robots" content="noindex, nofollow">
  </head>
  <body>
{% if project.picture_1 %}
    <img width="500" src="{{project.picture_1.url}}" alt="">
  {% endif %}
  {% if project.picture_2 %}
      <img width="200" src="{{project.picture_2.url}}" alt="">
    {% endif %}
    {% if project.picture_3 %}
        <img width="200" src="{{project.picture_3.url}}" alt="">
      {% endif %}
      {% if project.picture_4 %}
          <img  src="{{project.picture_4.url}}" alt="">
        {% endif %}

    {{project.name}}<br>
    {{project.client}}<br>
    {{project.url}}<br>
    {{project.program_type}}<br>
    {{project.description}}<br>
    {{project.production_date}}<br>
    {{project.created}}<br>
    {% if user.is_superuser %}
    <a href="{% url 'project:delete' project.pk %}">delete</a><br>
    {% endif %}
  </body>
</html>
